<div class="filter-list mdl-layout__drawer drawer-menu mdl-layout--fixed-drawer">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
      <a class="filter-item mdl-navigation__link active-filter" value="all">
        <span class="filter-text">All</span>
      </a>
      <a class="filter-item mdl-navigation__link" value="science">
        <span class="filter-text">Science</span>
      </a>
      <a class="filter-item mdl-navigation__link" value="photography">
        <span class="filter-text">Photography</span>
      </a>    
  </nav>
</div>
<div class="drawer-icon mdl-layout__drawer-button">
  <i class="material-icons mdl-light">menu</i>
</div>
  