<div class="mdl-layout__drawer drawer-menu mdl-layout--fixed-drawer">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
      <a class="main-nav mdl-navigation__link" href="{{site.baseurl}}/blog/list.html">
        <span class="nav-text">Blog</span>
      </a>
      <span class="soon-text">Coming soon ...</span>
      <hr>
      <a class="main-nav mdl-navigation__link" href="">
        <span class="nav-text in-active-text">Gallery</span>
      </a>
      <a class="main-nav mdl-navigation__link inactive" href="">
        <span class="nav-text in-active-text">Design</span>
      </a>
      <a class="main-nav mdl-navigation__link" href="">
        <span class="nav-text in-active-text">Profile</span>
      </a>    
  </nav>
</div>
<div class="drawer-icon mdl-layout__drawer-button">
  <i class="material-icons mdl-light">menu</i>
</div>
