<div class="mdl-layout__drawer drawer-menu mdl-layout--fixed-drawer">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{site.baseurl}}/blog/list.html">
        <i class="material-icons white">import_contacts</i>
        <span class="nav-text">Blog</span>
      </a>
      <span class="in-active-text">Coming soon ...</span>
      <hr>
      <a class="mdl-navigation__link" href="{{site.baseurl}}/gallary.html">
        <i class="material-icons">camera_alt</i>
        <span class="nav-text">Gallary</span>
      </a>
      <a class="mdl-navigation__link" href="{{site.baseurl}}/design.html">
        <i class="material-icons">wallpaper</i>
        <span class="nav-text">Design</span>
      </a>
      <a class="mdl-navigation__link" href="{{site.baseurl}}/profile.html">
        <i class="material-icons">face</i>
        <span class="nav-text">Profile</span>
      </a>    
  </nav>
</div>
<div class="drawer-icon mdl-layout__drawer-button">
  <i class="material-icons mdl-light">menu</i>
</div>
