<header>
  <div class="menu-container">
    <button id="demo-menu-lower-left" 
            class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect menu-list"
        for="demo-menu-lower-left">
      <li class="mdl-menu__item highlight" value="all">All</li>
      <li class="mdl-menu__item" value="science">Science</li>
      <li class="mdl-menu__item" value="technology">Technology</li>
      <li class="mdl-menu__item" value="travel">Travel</li>
      <li class="mdl-menu__item" value="photography">Photography</li>
    </ul>
  </div>
</header>