<div class="menu-conatiner">
	<!-- Flat button with ripple -->
	<button id="blog" 
			class="mdl-button mdl-js-button mdl-js-ripple-effect"
			onclick="location.href='{{site.baseurl}}/blog/list.html';">
		<i class="material-icons white">import_contacts</i>
	</button>
	<!-- Flat button with ripple -->
	<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--disabled"
			onclick="location.href='{{site.baseurl}}/gallary.html';" 
			disabled >
		<i class="material-icons">camera_alt</i>
	</button>

	<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--disabled"
			onclick="location.href='{{site.baseurl}}/design.html';" 
			disabled >
		<i class="material-icons">wallpaper</i>
	</button>

	<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--disabled"
			onclick="location.href='{{site.baseurl}}/profile.html';" 
			disabled >
		<i class="material-icons">face</i>
	</button>
</div>