.filter-list {
  .filter-section {
		display: none;
	}

	.is-active {
		display: block;
  }
}

.filter-list {
  .filter-item {

    &.active-filter {
      color: #cb1f88;
      font-weight: bolder;
      font-size: medium;
    }
  }
}
